@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Roboto Mono;
}
header {
    height: 30vh;
    width: 100%;
    background-color: red;
    color: white;
}
header h1 {
    display: inline-block;      /* allows text-indent to behave predictably */
    text-align: center;         /* center the whole block */
    max-width: 90%;      
}
#panel {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 20rem;
    width: 30rem;
    background-color: gainsboro;
    border: 2px solid black;
}
#panel button {
    margin-top: 2rem;
    height: 2rem;
    width: 10rem;
}
#setting-div {
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#setting-div span {
    margin-left: 10px;
    cursor: pointer;
    transition: all 0.7s;
}
#setting-div span:hover {
    transform: rotate(360deg);
}

#header-title {
    display: flex;
    height: 50%;
    align-items: center;
    justify-content: center;
}
#inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
input {
    background-color: coral;
    color: white;
    border-radius: 10px;
    width: 30rem;
    height: 3rem;
    padding-left: 1rem;
    font-size: large;
    border: none;
}
#submiter {
    background-color: red;
    height: 3rem;
    width: 15rem;
    color: white;
    cursor: pointer;
    text-align: center;
}

#main-box {
    display: flex;
    margin-top: 2rem;
    justify-content: center;
    align-items: center;
}
.h {
    width: 100%;
    text-align: center;
}
.box {
    color: white;
}
#georgian-words {
    min-height: 30rem;
    height: auto;
    overflow: visible;
    width: 30rem;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: rgb(176, 43, 43);
    border-right: 2px black solid;
}

#russian-words {
    min-height: 30rem;
    height: auto;
    overflow: visible;
    width: 30rem;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgb(121, 121, 216);
    border-left: 2px black solid;
}
#shuffle-div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#shuffle-div button {
    border-radius: 8px;
    border: none;
    background-color: red;
    color: white;
    margin-bottom: 4rem;
    height: 3rem;
    width: 15rem;
    cursor: pointer;
    font-size: 1rem;
}
#shuffled-questions {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#shuffled-form {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
#shuffled-form input[type="submit"] {
    background-color: red;
}
footer {
    margin-top: 3rem;
    height: 5rem;
    background-color: red;
    color: white;
    text-align: center;
}
.results {
    min-height: 30rem;
    height: auto;
    width: 30rem;
    border-radius: 10px;
    background-color: rgb(59, 193, 59);
    display: flex;
    align-items: center;
    flex-direction: column;


}
.results h2{
    color: green;
    font-size: 3rem;
}
.results p {
    color: white;
}










@media (max-width:600px) {
    header h1 {
        font-size: 20px;
    }
}
@media (max-width:550px) {
    input {
        width: 20rem;
    }
    #main-box {
        flex-direction: column;
    }
    #georgian-words {
        border-bottom-left-radius: 0px;
        border-top-right-radius: 10px;
        width: 25rem;
    }
    #russian-words {
        border-top-right-radius: 0px;
        border-bottom-left-radius: 10px;
        width: 25rem;
    }
    .results {width: 25rem;}
    #panel {
        width: 20rem;
        height: 17rem;
    }
}
@media (max-width:435px) {
    header h1 {
        font-size: 18px;
        text-indent: -30px;     /* pull first line left */
        padding-left: 30px;     /* push wrapped lines right */
        
    }
    input {
        width: 15rem; 
    }

    #header-title {
    display: flex;
    height: 70%;
    width: 100%;
    align-items: center;
    justify-content: center;
}
    #georgian-words {
        width: 20rem;
    }
    #russian-words {
        width: 20rem;
    }
    .results {
        width: 20rem;
    }
    main p {
        font-size: 1.5rem;
    }
    #shuffled-form p {
        font-size: 1rem;
    }

}



